/** Basic Styles **/
*:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
  color: #666;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #000; }
  body:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: -webkit-radial-gradient(top left, circle, #fff, transparent);
    background-image: radial-gradient(circle at top left, #fff, transparent);
    opacity: 0.12;
    z-index: -1; }

.overlay {
  pointer-events: none; }
  .overlay:before, .overlay:after {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .overlay:before {
    background-image: -webkit-radial-gradient(top left, circle, #25fabb, transparent);
    background-image: radial-gradient(circle at top left, #25fabb, transparent);
    opacity: 0.04; }
  .overlay:after {
    background-image: -webkit-radial-gradient(bottom right, circle, #874bd7, transparent);
    background-image: radial-gradient(circle at bottom right, #874bd7, transparent);
    opacity: 0.2; }

/************************
Layouts
************************/
.sidebar {
  background-color: rgba(22, 22, 22, 0.8); }
  .sidebar .card-panel,
  .sidebar .card {
    background-color: rgba(120, 120, 120, 0.07); }
  .sidebar .communication h6:after {
    content: "";
    position: absolute;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 10px;
    margin-left: 10px;
    background-color: crimson; }
  .sidebar .vitals h5 {
    margin-bottom: 30px; }
  .sidebar .console .display {
    background-color: #000;
    padding: 30px 5px;
    color: white;
    font-family: monospace;
    font-size: 10px; }

.main-dash .levitation img, .main-dash .brakes img {
  width: 40%;
  margin-bottom: 20px; }

.main-dash .levitation p, .main-dash .brakes p {
  font-size: 1.2rem; }

.main-dash .levitation span.value, .main-dash .brakes span.value {
  color: #fff;
  font-size: 1.6rem; }

.main-dash .levitation span.unit, .main-dash .brakes span.unit {
  color: #aaa; }

.main-dash .levitation span.dotted-box, .main-dash .brakes span.dotted-box {
  border: dotted 1px #eee;
  color: #eee;
  padding: 5px;
  margin-right: 10px; }

.main-dash .levitation img {
  width: 70%; }

/**********************
Speedometer Styles
**********************/
.speedometer-container {
  width: 25rem;
  height: 25rem;
  position: relative; }

.speedometer .inner-ring {
  width: 10rem;
  height: 10rem;
  position: absolute;
  top: calc(50% - 6.5rem);
  left: calc(50% - 5rem); }
  .speedometer .inner-ring:before, .speedometer .inner-ring:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid transparent;
    border-top: 2px solid #3b3d45;
    border-right: 2px solid #3b3d45;
    border-radius: 50%; }
  .speedometer .inner-ring:before {
    -webkit-transform: rotate(-75deg);
    transform: rotate(-75deg); }
  .speedometer .inner-ring:after {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg); }

.speedometer .outer-ring {
  width: 20rem;
  height: 20rem;
  position: absolute;
  top: calc(50% - 12rem);
  left: calc(50% - 10rem);
  border-radius: 50%; }

.speedometer .digit-ring {
  position: absolute;
  top: calc(50% - 2rem);
  left: 50%; }

.speedometer .tick {
  width: 0.8rem;
  border-top: 2px solid #3b3d45;
  position: absolute;
  top: calc(50% - 0.1rem);
  left: calc(50% - 0.4rem); }
  .speedometer .tick:nth-child(6n+1) {
    width: 1.6rem;
    left: calc(50% - 0.8rem);
    border-color: #787a81; }

.speedometer .digit {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  font-weight: bold;
  text-align: center;
  line-height: 2rem; }

.speedometer .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 21rem;
  height: 21rem;
  position: absolute;
  top: calc(50% - 12.5rem);
  left: calc(50% - 10.5rem); }

.speedometer .label {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase; }

.speedometer .speed {
  margin: 0;
  font-size: 3rem;
  color: #fff; }

.speedometer .unit {
  margin: 0;
  font-size: 1.4rem; }

.speedometer .guage-progress {
  width: 10rem;
  height: 10rem;
  position: absolute;
  top: calc(50% - 6.5rem);
  left: calc(50% - 5rem);
  border-radius: 50%; }
  .speedometer .guage-progress:before {
    content: "";
    position: absolute;
    top: -0.2rem;
    left: calc(50% - 0.3rem);
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    background-color: #f1252e;
    box-shadow: 0 0 6rem 2rem rgba(241, 37, 46, 0.35); }

/**********************************
Battery Styles
**********************************/
.battery {
  margin-top: 5px;
  display: table;
  border: 3px solid #555;
  padding: 5px;
  transform: translateY(-50%); }
  .battery:after {
    content: "";
    display: block;
    width: 7px;
    height: 15px;
    background: #555;
    position: absolute;
    right: -7px; }
  .battery .battery_item {
    display: block;
    width: 15px;
    height: 15px;
    float: left;
    background-color: #555;
    filter: alpha(opacity=0);
    opacity: 0;
    animation: _fade 0.5s 2s infinite alternate forwards; }
  .battery .battery_item:not(:last-child) {
    margin-right: 5px; }
  .battery .battery_item:first-child {
    animation-delay: 0.2s; }
  .battery .battery_item:nth-child(2) {
    animation-delay: 0.4s; }
  .battery .battery_item:last-child {
    animation-delay: 0.6s; }

@keyframes _fade {
  from {
    filter: alpha(opacity=0);
    opacity: 0; }
  to {
    filter: alpha(opacity=100);
    opacity: 1; } }

/**********************************
Gauge Styles
**********************************/
.gauge-container {
  width: 10rem;
  height: 10rem;
  display: block;
  padding: 10px; }

.gauge-container > .gauge > .dial {
  stroke: #334455;
  stroke-width: 100;
  fill: transparent; }

.gauge-container > .gauge > .value {
  stroke: #F8774B;
  stroke-width: 100;
  fill: transparent; }

.gauge-container > .gauge > .value-text {
  fill: #F8774B;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 15em; }

/**********************************
Toggle Button Styles
**********************************/
.toggle {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 20px;
  color: white;
  outline: 0;
  text-decoration: none;
  border-radius: 100px;
  /*border: 2px solid #546E7A;*/
  background-color: #263238;
  transition: all 500ms; }
  .toggle:active {
    background-color: #1c2429; }
  .toggle:hover:not(.toggle--moving):after {
    background-color: #455A64; }
  .toggle:after {
    display: block;
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: 4px;
    width: calc(50% - 4px);
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    color: white;
    background-color: #37474F;
    /*border: 2px solid;*/
    transition: all 500ms; }

.toggle--on:after {
  content: 'On';
  border-radius: 50px 5px 5px 50px;
  color: #66BB6A; }

.toggle--off:after {
  content: 'Off';
  border-radius: 5px 50px 50px 5px;
  transform: translate(100%, 0);
  color: #f44336; }

.toggle--moving {
  background-color: #1c2429; }
  .toggle--moving:after {
    color: transparent;
    border-color: #435862;
    background-color: #222c31;
    transition: color 0s, transform 500ms, border-radius 500ms, background-color 500ms; }
