/*================================
        BATTERY SYLES
=================================*/
.battery-container {
    clear: both;
    padding-top: 10px;
    padding-right: 40px;
    .battery {
        display: inline-block;
        width: 2.2rem;
        background-color: transparent;
        box-sizing: border-box;
        border: .2em #505050 solid;
        margin-top: 1em;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
        padding-bottom: 0.2rem; 
        &:before {
            content: "";
            height: .3em;
            width: 1em;
            background-color: #505050;
            position: absolute;
            margin-top: -.5em;
            margin-left: .3em;
        }
        .bar {
          height: 0.75rem;
          width: 100%;
          background-color: #19ad38;
          margin-top: 2px;
        }
    }
    .battery-info > h5 {
        display: inline-block;
    }
}