/*================================
            LAYOUTS
=================================*/

/*================================
        SIDEBAR LAYOUTS
=================================*/
.sidebar {
    background-color: rgba(22, 22, 22, 0.8);
    .card-panel,
    .card, {
        background-color: rgba(120, 120, 120, 0.07);
    }
    .communication, .pusher-detachment{
        h6 {
            &:after {
                content: "";
                position: absolute;
                width: 0.6rem;
                height: 0.6rem;
                border-radius: 10px;
                margin-left: 10px;
                background-color: crimson;
            }
        }
    }
    .branding {
        img {
            width:100%;
            max-width: 200px;
        }
    }
    .vitals {
        h5 {
            margin-bottom: 30px;
        }
    }
    .console {
        .display {
            background-color: #000;
            padding: 30px 5px;
            color: white;
            font-family: monospace;
            font-size: 10px;
        }
    }
}
.pusher-detachment{

}
#left-sidebar {
    padding-left: 7.5px;
    padding-right: 7.5px;
}
.range-container{
  height: 10px;
}
.gauge-container{
    width: 100px;
    //height: 40px;
    left: 50%;
    margin: auto;
}
/*================================
      MAIN DASH BOARD LAYOUTS
=================================*/

.main-dash {
    .top-center-bar {
        background-color: rgba(22, 22, 22, 0.8);
        .card-panel,
        .card {
            background-color: rgba(120, 120, 120, 0.07);
        }
    }
    #velocity, #acceleration {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .levitation, .brakes {
        img {
            width: 40%;
            margin-bottom: 20px;
        }
        p {
            font-size: 1.2rem;
        }
        span.value {
            color: #fff;
            font-size: 1.6rem;
        }
        span.unit {
            color: #aaa;
        }
        span.dotted-box {
            border: dotted 1px #eee;
            color: #eee;
            padding: 5px;
            margin-right: 10px;
        }
    }
    .levitation {
        img {
            width: 70%;
        }
    }
}

#health-check-screen {
    max-height: 80%;
    background-color: rgba(33, 33, 33, 1);
    font-size: 12px;
    .collection {
        border: transparent;
        .collection-item {
            background-color: transparent;
            border: transparent;
        }
    }
}
.power-button{
    align:center;
    width: 7rem;

}
