/*================================
        HEALTH CHECK
=================================*/
.health-display {
    p.health-check-name {
        font-size: 12px;
        margin: 10px 0;
        padding-left: 10px;
    }
    .status {
            position: absolute;
            left: 0;
            padding: 5px 8px;
            border-radius: 20px;
            background-color: #fff;
        }
}